name: Docker CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'kubernetes/**'

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Read current version
      run: |
        VERSION=$(cat VERSION)
        echo "VERSION=$VERSION" >> $GITHUB_ENV

    - name: Bump patch version
      run: |
        IFS='.' read -r MAJOR MINOR PATCH <<< "$VERSION"
        PATCH=$((PATCH + 1))
        NEW_VERSION="$MAJOR.$MINOR.$PATCH"
        echo "$NEW_VERSION" > VERSION
        echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_ENV

    - name: Build Docker image
      run: |
        docker build -t kdmodder/college:${NEW_VERSION} .

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
    - name: Trivy scan continue-on-error
      uses: aquasecurity/trivy-action@0.20.0
      with:
         image-ref: kdmodder/college:${{ env.NEW_VERSION }}
         severity: CRITICAL,HIGH
         exit-code: 1
         format: table
    - name: Push Docker image
      run: |
        docker push kdmodder/college:${NEW_VERSION}

    - name: Commit updated VERSION
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git add VERSION
        git commit -m "chore: bump version to ${NEW_VERSION}"
        git push
